name: Build/release

on:
  workflow_dispatch:
    inputs:
      build_components:
        description: Build components
        required: true
        default: All
        type: choice
        options:
          - All
          - driver
          - capture-server
          - leveladj
          - clockgen_firmware

      build_configuration:
        description: Build configuration
        required: true
        default: Debug
        type: choice
        options:
          - All
          - Debug
          - Release

      build_platform:
        description: Build platform
        required: true
        default: x64
        type: choice
        options:
          - x64

      sign_binaries:
        description: Sign binaries
        required: true
        default: true
        type: boolean

      create_release:
        description: Create GitHub release
        required: true
        default: false
        type: boolean
   
jobs:
  build:
    name: Build ${{ inputs.build_components }} (${{ matrix.build_configuration }})
    runs-on: windows-2022
    permissions:
        contents: write
    strategy:
      matrix:
        build_configuration: ${{ fromJson(format('[{0}]', inputs.build_configuration == 'All' && '"Debug","Release"' || format('"{0}"', inputs.build_configuration))) }}
    env:
      SOLUTION_FILE: .\cxadc-win.sln
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Import code signing certificate
        id: import_cert
        uses: ./.github/actions/sign_import_certificate
        if: ${{ inputs.sign_binaries }}
        with:
          code_signing_cert: ${{ secrets.CODE_SIGNING_CERT }}
          code_signing_cert_pass: ${{ secrets.CODE_SIGNING_CERT_PASS }}

      - name: Build driver
        uses: ./.github/actions/build_driver
        if: ${{ inputs.build_components == 'All' || inputs.build_components == 'driver' }}
        with:
          solution: ${{ env.SOLUTION_FILE }}
          configuration: ${{ matrix.build_configuration }}
          platform: ${{ inputs.build_platform }}
          code_signing_cert_hash: ${{ inputs.sign_binaries && steps.import_cert.outputs.code_signing_cert_hash || '' }}

      - name: Build capture-server
        uses: ./.github/actions/build_capture_server
        if: ${{ inputs.build_components == 'All' || inputs.build_components == 'capture-server' }}
        with:
          solution: ${{ env.SOLUTION_FILE }}
          configuration: ${{ matrix.build_configuration }}
          platform: ${{ inputs.build_platform }}
          code_signing_cert_hash: ${{ inputs.sign_binaries && steps.import_cert.outputs.code_signing_cert_hash || '' }}

      - name: Build leveladj
        uses: ./.github/actions/build_leveladj
        if: ${{ inputs.build_components == 'All' || inputs.build_components == 'leveladj' }}
        with:
          solution: ${{ env.SOLUTION_FILE }}
          configuration: ${{ matrix.build_configuration }}
          platform: ${{ inputs.build_platform }}
          code_signing_cert_hash: ${{ inputs.sign_binaries && steps.import_cert.outputs.code_signing_cert_hash || '' }}

      - name: Build clockgen firmware
        uses: ./.github/actions/build_clockgen_firmware
        if: ${{ inputs.build_components == 'All' || inputs.build_components == 'clockgen_firmware' }}
        with:
          configuration: ${{ matrix.build_configuration }}
          code_signing_cert_hash: ${{ inputs.sign_binaries && steps.import_cert.outputs.code_signing_cert_hash || '' }}

      - name: Download all artifacts (driver)
        uses: actions/download-artifact@v4
        if: ${{ inputs.create_release }}
        with:
          path: .\release\driver
          pattern: ${{ matrix.build_configuration }}-${{ inputs.build_platform }}-driver
          merge-multiple: true

      - name: Download all artifacts (bin)
        uses: actions/download-artifact@v4
        if: ${{ inputs.create_release }}
        with:
          path: .\release\bin
          pattern: ${{ matrix.build_configuration }}-${{ inputs.build_platform }}-bin-*
          merge-multiple: true

      - name: Download all artifacts (pdb)
        uses: actions/download-artifact@v4
        if: ${{ inputs.create_release }}
        with:
          path: .\release-pdb
          pattern: ${{ matrix.build_configuration }}-${{ inputs.build_platform }}-pdb-*
          merge-multiple: true

      - name: Download all artifacts (clockgen firmware)
        uses: actions/download-artifact@v4
        if: ${{ inputs.create_release }}
        with:
          path: .\release\clockgen_firmware
          pattern: ${{ matrix.build_configuration }}-clockgen_firmware
          merge-multiple: true

      - name: Create GitHub Release
        if: ${{ inputs.create_release }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        shell: pwsh
        run: |
          # get release name
          $ReleaseName = "${{ github.ref_name }}"

          if ("${{ github.ref_type }}" -ne "tag") {
            $ReleaseName += ("-" + (git rev-parse --short HEAD))
          }

          $FileNameBase = ("cxadc-win-" + $ReleaseName + "-${{ inputs.build_platform }}")
          $FileNameSuffix = ""

          if ("${{ matrix.build_configuration }}" -ne "Release") {
            $FileNameSuffix += ("-${{ matrix.build_configuration }}")
          }

          $FileNameRelease = ($FileNameBase + $FileNameSuffix + ".zip")
          $FileNameReleasePdb = ($FileNameBase + $FileNameSuffix + "-pdb.zip")

          # create checksum file for release
          Get-ChildItem -File -Recurse -Path .\release\ |
            Get-FileHash -Algorithm SHA256 |
              Select-Object -Property Hash, @{n="Path"; e={ Resolve-Path -Relative -RelativeBasePath .\release\ -LiteralPath $PSItem.Path }} |
                ForEach-Object -Process { $PSItem.Hash + " " + $PSItem.Path } |
                  Out-File -FilePath .\checksums.sha256

          # create release zips
          Compress-Archive -DestinationPath "$FileNameRelease" -Path "LICENSE","checksums.sha256",".\release\*"
          Compress-Archive -DestinationPath "$FileNameReleasePdb" -Path ".\release-pdb\*"

          # create release
          gh release view "$ReleaseName"

          if ($LASTEXITCODE -eq 1) {
            gh release create "$ReleaseName" --title "$ReleaseName" --draft
          }

          gh release upload "$ReleaseName" "$FileNameRelease"
          gh release upload "$ReleaseName" "$FileNameReleasePdb"
