name: Build/release

on:
  workflow_dispatch:
    inputs:
      build_components:
        description: Build components
        required: true
        default: All
        type: choice
        options:
          - All
          - driver
          - capture-server
          - leveladj
          - clockgen_firmware

      build_configuration:
        description: Build configuration
        required: true
        default: Debug
        type: choice
        options:
          - Debug
          - Release

      sign_binaries:
        description: Sign binaries
        required: true
        default: true
        type: boolean

      create_release:
        description: Create GitHub release
        required: true
        default: false
        type: boolean
   
jobs:
  build:
    name: Build ${{ inputs.build_components }} (${{ inputs.build_configuration }})
    runs-on: windows-2022
    permissions:
        contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Import code signing certificate
        id: import_cert
        uses: ./.github/actions/sign_import_certificate
        if: ${{ inputs.sign_binaries }}
        with:
          code_signing_cert: ${{ secrets.CODE_SIGNING_CERT }}
          code_signing_cert_pass: ${{ secrets.CODE_SIGNING_CERT_PASS }}

      - name: Build driver
        uses: ./.github/actions/build_driver
        if: ${{ inputs.build_components == 'All' || inputs.build_components == 'driver' }}
        with:
          solution: .\cxadc-win.sln
          configuration: ${{ inputs.build_configuration }}
          platform: x64
          code_signing_cert_hash: ${{ inputs.sign_binaries && steps.import_cert.outputs.code_signing_cert_hash || '' }}

      - name: Build capture-server
        uses: ./.github/actions/build_capture_server
        if: ${{ inputs.build_components == 'All' || inputs.build_components == 'capture-server' }}
        with:
          solution: .\cxadc-win.sln
          configuration: ${{ inputs.build_configuration }}
          platform: x64
          code_signing_cert_hash: ${{ inputs.sign_binaries && steps.import_cert.outputs.code_signing_cert_hash || '' }}

      - name: Build leveladj
        uses: ./.github/actions/build_leveladj
        if: ${{ inputs.build_components == 'All' || inputs.build_components == 'leveladj' }}
        with:
          solution: .\cxadc-win.sln
          configuration: ${{ inputs.build_configuration }}
          platform: x64
          code_signing_cert_hash: ${{ inputs.sign_binaries && steps.import_cert.outputs.code_signing_cert_hash || '' }}

      - name: Build clockgen firmware
        uses: ./.github/actions/build_clockgen_firmware
        if: ${{ inputs.build_components == 'All' || inputs.build_components == 'clockgen_firmware' }}
        with:
          configuration: ${{ inputs.build_configuration }}
          code_signing_cert_hash: ${{ inputs.sign_binaries && steps.import_cert.outputs.code_signing_cert_hash || '' }}

      - name: Download all artifacts (driver)
        uses: actions/download-artifact@v4
        if: ${{ inputs.create_release }}
        with:
          path: driver
          pattern: driver
          merge-multiple: true

      - name: Download all artifacts (bin)
        uses: actions/download-artifact@v4
        if: ${{ inputs.create_release }}
        with:
          path: bin
          pattern: bin-*
          merge-multiple: true

      - name: Download all artifacts (pdb)
        uses: actions/download-artifact@v4
        if: ${{ inputs.create_release }}
        with:
          path: pdb
          pattern: pdb-*
          merge-multiple: true

      - name: Download all artifacts (clockgen firmware)
        uses: actions/download-artifact@v4
        if: ${{ inputs.create_release }}
        with:
          path: clockgen_firmware
          pattern: clockgen_firmware
          merge-multiple: true

      - name: Create GitHub Release
        if: ${{ inputs.create_release }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
          ASSET_NAME: cxadc-win-x64.zip
          ASSET_NAME_PDB: cxadc-win-x64-pdb.zip
          ASSET_LABEL: cxadc-win-${{ github.ref_name }}-x64.zip
          ASSET_LABEL_PDB: cxadc-win-${{ github.ref_name }}-x64-pdb.zip
        shell: pwsh
        run: |
          gh release create '${{ github.ref_name }}' --title '${{ github.ref_name }}' --draft

          Compress-Archive -DestinationPath '${{ env.ASSET_NAME }}' -Path 'LICENSE.txt'

          if (Test-Path 'driver') {
            Compress-Archive -Update -DestinationPath '${{ env.ASSET_NAME }}' -Path 'driver'
          }

          if (Test-Path 'bin') {
            Compress-Archive -Update -DestinationPath '${{ env.ASSET_NAME }}' -Path 'bin'
          }

          if (Test-Path 'clockgen_firmware') {
            Compress-Archive -Update -DestinationPath '${{ env.ASSET_NAME }}' -Path 'clockgen_firmware'
          }

          if (Test-Path '${{ env.ASSET_NAME }}') {
            gh release upload '${{ github.ref_name }}' '${{ env.ASSET_NAME }}#${{ env.ASSET_LABEL }}'
          }
